__pycache__/
*.py[cod]
*.so

.Python
.python-version
.venv/
venv/
env/

.DS_Store
Thumbs.db

.idea/
.vscode/

.codex

logs/
train_logs/
pretrain/

dataset/*/
!dataset/dataset.md

instance/*/
!instance/test/
!instance/train/

*.log
